<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koeksworld.homenet">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:name=".ApplicationSingleton"
        android:icon="@drawable/homenetlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:authorities="com.facebook.app.FacebookContentProvider174137489749832"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key" />

        <service android:name="firebase.HomeNETFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="firebase.HomeNETFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenStyle"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c5f12d902364a757e9d8d392736ee4a16dbe65c2" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SocialMediaSignupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WelcomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LandingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeManagerActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ApplicationSettingsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".HomeNetFeedActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".UserManagerActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>